@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: "android";
    src: url(fontes/idroid.otf);
}


:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ded84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: arial, helvetica, sans-serif;
    --fonte-desatque: 'Bebas Neue', 'cursive';
    --fonte-android: 'android', 'cursive';
}

* {
    padding: 0px;
    margin: 0px;

}

body {
    font-family: var(--fonte-padrao);
    background-color: var(--cor0);
}
main h1 {
    font-family: var(--fonte-android);
    color: var(--cor5);
}
main h2 {
    font-family:var(--fonte-android) ;
    color: var(--cor4);
    font-size: 1.3em;
    background-image:linear-gradient(to right, var(--cor1), transparent) ;
}
main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    /* isso faz a diferença de espaços da lina  */
}

main strong {
    color: var(--cor5);
    font-weight: bold;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor2);
    padding: 2px 6px;
}
main>a:hover {
    color: var(--cor4);
    text-decoration: underline;

}

main img {
    width: 100%;
}

.pequeno {
    max-width: 350px;
    display: block;
    margin: auto;
}

header {
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor5));
    height: 150px;
    padding-top: 40px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

header>h1 {
    font-family: var(--fonte-desatque);
    color: white;
    font-size: 3em;
    margin-bottom: 30px;
    text-shadow: 9px 8px 15px rgba(0, 0, 0, 0.445);
}

header>p {
    color: white;
    max-width: 500px;
    margin: auto;
    text-shadow: 9px 8px 15px rgba(0, 0, 0, 0.445);
    margin-bottom: 20px;


}

nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.199);
}

nav>a {
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    transition-duration: 1s;
}

nav>a:hover {
    color: var(--cor5);
    background-color: var(--cor3);
}

main {
    background-color: white;
    margin: auto;
    margin-bottom: 30px;
    min-width: 320px;
    max-width: 1000px;
    padding: 20px;
    box-shadow: 0px 0px 15px black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
aside {
    background-color: var(--cor1);
    border-radius: 10px;
    padding: 10px;
}
aside ul {
    list-style-type:'\2714\00a0\00a0' ;
    list-style-position: inside;
    columns: 2;
}
aside h3 {
    color: white;
    padding: 10px;
    background-color: var(--cor5);
    border-radius: 10px 10px 0px 0px;
    margin: -10px -10px 0px -10px;
}
footer {
    background-color: var(--cor5);
    color: white;
    padding: 5px;
    font-size: 0.8em;
    text-align: center;

}
footer a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
footer a:hover {
    color: var(--cor1);
    text-decoration: underline;
}